.task-form {
  /* background-color: chartreuse; */
  display: flex;
  gap: .5em;
}

.button-submit {
  background-color: green;
}


option {
  background-color: transparent;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.urgent {
  color: red;
}

.low-urgency {
  color: blue;
}

.no-urgency {
  color: green;
}
